* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.head {
    height: 2rem;
    display: flex;
    text-align: center;
    line-height: 2rem;
    background: #c4483c;
    padding: 0.5rem;
    a {
        flex: 1;
        font-size: 1.4rem !important;
        color: #fff;
    }
    .ipt {
        flex: 5;
        border-radius: 1rem;
        background: #fff;
        input {
            outline: 0;
            border: 0;
            height: 90%;
            width: 80%;
            margin-left: 10%;
        }
         ::-webkit-input-placeholder {
            color: #bfbfbf;
            font-size: 1rem;
            line-height: 2rem;
        }
    }
}

.opt {
    ul {
        display: flex;
        li {
            flex: 1;
            text-align: center;
            line-height: 2.5rem;
        }
        li:first-child a {
            display: inline-block;
            width: 35%;
            color: #c4483c;
            border-bottom: 0.1rem solid #c4483c;
        }
    }
}

.swiper-container {
    width: 100%;
    position: relative;
    ul {
        width: 100%;
        li {
            width: 100%;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    .swiper-paginstion {
        position: absolute;
        z-index: 999;
    }
}

.list {
    ul {
        display: flex;
        text-align: center;
        li {
            flex: 1;
            padding: 0 1rem;
            dd {
                border: 0.05rem solid red;
                border-radius: 50%;
                height: 3rem;
                line-height: 3rem;
                font-size: 1.8rem;
            }
            dt {
                font-size: 0.7rem;
            }
        }
    }
}